@font-face 
    font-family: 'trajan-pro'
    src: url(../Assets/fonts/Trajan-Pro-Regular.woff) format('woff')
    font-weight: normal
    font-style: normal

@font-face 
    font-family: 'trajan-pro-bold'
    src: url(../Assets/fonts/Trajan-Pro-Bold.woff) format('woff')
    font-weight: normal
    font-style: normal 

@font-face 
    font-family: 'amethysta'    
    src: url(../Assets/fonts/Amethysta.woff) format('woff')
    font-weight: normal
    font-style: normal

*
    font-family: 'amethysta'

    background: rgba(255, 255, 255, 0.0)
    color: #fff
    font-weight: bold

    padding: 0
    margin: 0

    user-select: none

*:focus
    outline: none

html, body
    margin: 0
    height: 100%
    background: url(../Assets/images/pngs/background1.png) no-repeat
    overflow: hidden
    cursor: url(../Assets/images/pngs/Cursor.png), auto

img
    background: transparent

ul
    list-style-type: none
    display: flex
    justify-content: center

    // padding-top: 1.5em
    height: 36px

li 
    font-family: 'trajan-pro-bold'
    font-size: clamp(16px, calc(16px + (32 - 16) * ((100vw - 320px) / (1800 - 320))), 32px)
    text-align: center
    background: none

    display: inline-table
    list-style-type: none

    margin: 0 1em

    width: 320px

    transition: all .75s ease    

span
    color: #888

.bossContainer
    position: relative
    background: transparent
    width: clamp(166px, calc(166px + (973 - 166) * ((100vw - 320px) / (1800 - 320))), 973px)
    aspect-ratio: 973 / 673
    margin: auto

.bossAnim
    position: absolute
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    width: clamp(166px, calc(166px + (613 - 166) * ((100vw - 320px) / (1800 - 320))), 613px)
    aspect-ratio: 973 / 673

.wordContainer

.typingBox
    height: auto
    display: flex
    justify-content: center

.decorator
    display: flex
    background: transparent

    &.left
        position: relative
        transform: translateX(41.5%)

    &.right
        position: relative
        transform: translateX(-41.5%)

.globe
    background: transparent
    width: clamp(36px, calc(36px + (210 - 36) * ((100vw - 320px) / (1800 - 320))), 210px)

    &.health
        transform: translateX(25%)

    &.mana
        transform: translateX(-25%)

.fill
    position: absolute  
    width: clamp(24px, calc(24px + (140 - 24) * ((100vw - 320px) / (1800 - 320))), 140px)
    aspect-ratio: 1
    border-radius: 50%

    &.health
        background: linear-gradient(0deg, rgb(77,12,33) 0%, rgb(153,16,34) 100%)
        transform: translate(63%, 25%)

        .cover
            position: absolute
            content: ''
            display: inline-block
            background-color: #000
            width: clamp(24px, calc(24px + (140 - 24) * ((100vw - 320px) / (1800 - 320))), 140px)
            height: calc(clamp(24px, calc(24px + (140 - 24) * ((100vw - 320px) / (1800 - 320))), 140px) * 0)


    &.mana
        right: 0
        background: linear-gradient(0deg, rgb(27,3,70) 0%, rgb(18,89,156) 100%)
        transform: translate(-63%, 25%) 

        .cover
            position: absolute
            content: ''
            display: inline-block
            background-color: #000
            width: clamp(24px, calc(24px + (140 - 24) * ((100vw - 320px) / (1800 - 320))), 140px)
            height: calc(clamp(24px, calc(24px + (140 - 24) * ((100vw - 320px) / (1800 - 320))), 140px) * 0)

.input-frame
    background: transparent
    height: fit-content
    width: clamp(108px, calc(108px + (634 - 108) * ((100vw - 320px) / (1800 - 320))), 634px)

    &.left
        transform: translateY(14%)

    &.right
        transform: translateY(86%)

#textInput
    z-index: 999
    text-align: center
    font-size: clamp(16px, calc(16px + (32 - 16) * ((100vw - 320px) / (1800 - 320))), 32px)

    width: 270px
    margin: auto 0

    border: none
    background: none

#swal-container 
    position: absolute
    z-index: 1000
    top: 0
    left: 0

    display: none
    justify-content: center
    align-items: center

    height: 100%
    width: 100%

    text-align: center

    background-color: rgba(0, 0, 0, 0.7)

    cursor: url("../Assets/images/pngs/Cursor.png"), auto

@media only screen and (max-width: 800px) // Width subject to change
    .input-frame
        display: none