@font-face 
    font-family: 'trajan-pro'
    src: url(../Assets/fonts/Trajan-Pro-Regular.woff) format('woff')
    font-weight: normal
    font-style: normal

@font-face 
    font-family: 'trajan-pro-bold'
    src: url(../Assets/fonts/Trajan-Pro-Bold.woff) format('woff')
    font-weight: normal
    font-style: normal 

@font-face 
    font-family: 'antiqua'    
    src: url(../Assets/fonts/Antiqua.woff) format('woff')
    font-weight: normal
    font-style: normal

*
    font-family: 'antiqua'

    background: #000
    color: #fff
    font-weight: bold

    padding: 0
    margin: 0

    user-select: none

*:focus
    outline: none

html
    cursor: none

ul
    list-style-type: none
    display: flex
    justify-content: center

    padding-top: 5em

li 
    font-family: 'trajan-pro-bold'
    font-size: 2em
    text-align: center
    background: none

    display: inline-table
    list-style-type: none

    margin: 0 1em
    height: 50px

    width: 320px

    transition: all .75s ease    

span
    color: #888

#textInput
    position: absolute

    text-align: center
    font-size: 1.9em

    width: 100%
    padding-top: 3em
    margin: 0 auto

    border: none