@font-face {
  font-family: 'trajan-pro';
  src: url(../Assets/fonts/Trajan-Pro-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'trajan-pro-bold';
  src: url(../Assets/fonts/Trajan-Pro-Bold.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'trajan-pro';
  color: #fff;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

*:focus {
  outline: none;
}

html, body {
  margin: 0;
  height: 100%;
  background: url(../Assets/images/pngs/background2.png) no-repeat center;
  background-size: cover;
  overflow: hidden;
  cursor: url("../Assets/images/pngs/Cursor.png"), auto;
}

ul {
  width: 100%;
  text-align: center;
  padding-top: 5em;
}

li {
  font-family: 'trajan-pro-bold';
  font-size: clamp(18px, calc(18px + (36 - 18) * ((100vw - 320px) / (1800 - 320))), 36px);
  color: #fff;
  background: none;
  list-style-type: none;
  padding-top: 1em;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

span {
  color: #888;
}

.title-image {
  display: block;
  margin: auto;
  width: 50%;
  padding-top: 1em;
}

.splash {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-75%);
          transform: translateY(-75%);
}

.splash-text {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-size: clamp(18px, calc(18px + (36 - 18) * ((100vw - 320px) / (1800 - 320))), 36px);
}

.splash-content {
  width: 100%;
  text-align: center;
  font-size: clamp(6px, calc(6px + (12 - 6) * ((100vw - 320px) / (1800 - 320))), 12px);
  position: absolute;
  bottom: 10px;
  -webkit-animation: glow 8000ms infinite;
          animation: glow 8000ms infinite;
}

.raise-on-hover {
  -webkit-transition: all .75s ease;
  transition: all .75s ease;
}

.raise-on-hover:hover {
  -webkit-transform: translateY(-0.2em);
          transform: translateY(-0.2em);
  font-size: clamp(18px, calc(18px + (41.6 - 18) * ((100vw - 320px) / (1800 - 320))), 41.6px);
}

#Help {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 1.5em;
  text-align: center;
  cursor: url("../Assets/images/pngs/Cursor.png");
}

.game-saveMenu {
  display: none;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
}

.l-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.4% auto;
  background-color: rgba(0, 0, 0, 0);
}

.l-header {
  margin-top: 1.5em;
}

.user-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#swal-container {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.loading {
  display: none;
  margin: auto;
  padding-top: 25vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
}

lottie-player {
  background: transparent;
}

@-webkit-keyframes glow {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 0px #fff;
  }
  50% {
    text-shadow: 0 0 10px #fff, 0 0 50px #fff, 0 0 20px #fff;
  }
  100% {
    text-shadow: 0 0 10px #fff, 0 0 0px #fff;
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 0px #fff;
  }
  50% {
    text-shadow: 0 0 10px #fff, 0 0 50px #fff, 0 0 20px #fff;
  }
  100% {
    text-shadow: 0 0 10px #fff, 0 0 0px #fff;
  }
}

@media only screen and (max-width: 800px) {
  li {
    font-size: clamp(18px, calc(18px + (41.6 - 18) * ((100vw - 320px) / (1800 - 320))), 41.6px);
  }
  .title-image {
    width: 80%;
  }
  .raise-on-hover:hover {
    font-size: clamp(18px, calc(18px + (41.6 - 18) * ((100vw - 320px) / (1800 - 320))), 41.6px);
  }
}
/*# sourceMappingURL=menuStyle.css.map */